.SignInBox {
	width: 10em;
	height: 6em;
	margin: auto;
}

/* .flexBox {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
}

.holidayCard {
	display: flex;
	width: 10em;
	height: auto;
	border: 1px solid green;
	margin: 1em auto;
	padding: 1em;
} */
